*.hi
*.o
Test
typechecker
build/
program/am406133.tar.gz
program/ltc
lattests/good/*.s
lattests/bad/*.s
playground/
program/latc_x86_64
am406133.tar.gz
program/src/Latte/Doc.txt
program/src/Latte/Par.y
program/src/Makefile
